{{!-- Author: Dylan --}}

{{!-- assumes we have access to a YouTube JSON object: search-result--}}

<li class="list-group-item" style="padding: 10px" data-id={{_id}}>
<div class="media">
  <span class="pull-left">
    <img class="media-object" src={{thumbnails.0.url}} height="50" width="67" alt="thumbnail" />
  </span>
  <div class="media-body">
    <h4 class="media-heading">{{title}}</h4>   
    <span class="date">{{getMetadataString statistics.viewCount duration}}</span>
    <div class="btn-group btn-group-xs right" style="margin-top: -20px">
        <button type="button" class="btn btn-danger add-button" arrayIndex={{@index}}>+</button>
    </div>
  </div>
</div>
</li>

